body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #f0f8ff;
  margin: auto;
  padding: 20px;
  background-image: url(wallpaperflare.com_wallpaper\ 6746.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 50px;
  background: #ffe07a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
  margin: 20px 0;
  height: auto;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(255, 98, 0);
}

h2 {
  color: rgb(255, 98, 0);
}

h4 {
  text-align: center;
}

p {
  text-align: left;
  color: #000000;
  font-size: 100%;
  text-shadow: #000000;
}

.bubble {
  background: #faf8e0;
  padding: 20px;
  margin: 50px 0;
  border-radius: 60px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.bubble:before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background: #ff9c55;
  transform: rotate(45deg);
}

label {
  display: block;
  margin: 5px 0;
  text-align: left;
  font-size: 100%;
}

button {
  display: block;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  background: #ff5100;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s ease;
}

button:hover {
  background: #ffd118;
}

/* Responsif untuk layar dengan lebar di bawah 768px (tablet dan ponsel) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  .container {
    padding: 10px;
  }
}

/* Responsif untuk layar dengan lebar di bawah 480px (ponsel kecil) */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .container {
    padding: 5px;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }
}

